.random{
    border: black solid 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.randomEl{
    height: 20px;
    width: 20px;
    border: black solid 10px;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.table{
    width: 80%;
    height: 500px;
    border: solid 2px #720f0f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: auto;
}
.blog{
    border: solid 2px #175082;
    width: 10%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    border: solid 2px #000;
    width: 47%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.activ{
    background: #720f0f;
}